.hero-container {
  background-image: url('/images/pfhero.png');
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: center; 
  color: white; 
}